<a href="https://colab.research.google.com/github/dmitrii-soin/123/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import pandas as pd

In [77]:
data = pd.read_csv("world_real.csv") #данные по продажам кваритир
data

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,3.0,2.0,2.0,120 m²,110 m²,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,NaN,NaN,NaN,500 m²,480 m²,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,2.0,1.0,1.0,65 m²,60 m²,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2020.0,15.0,5.0,2.0,1.0,1.0,NaN,40 m²,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,3.0,3.0,2.0,1.0,NaN,36 m²,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147531,"5 room apartment 310 m² in Gazipasa, Turkey",Turkey,"Mediterranean Region, Gazipasa, Turkey",NaN,NaN,NaN,NaN,5.0,NaN,310 m²,NaN,597810.0,https://realting.com/uploads/bigSlider/e4a/67f...,https://realting.com/property-for-sale/turkey/...
147532,"4 room apartment 192 m² in Marmara Region, Turkey",Turkey,"Marmara Region, Turkey",2023.0,5.0,NaN,5.0,4.0,2.0,192 m²,151 m²,637195.0,https://realting.com/uploads/bigSlider/93e/5c6...,https://realting.com/property-for-sale/turkey/...
147533,"2 room apartment in Marmara Region, Turkey",Turkey,"Marmara Region, Turkey",NaN,NaN,NaN,3.0,2.0,2.0,NaN,84 m²,477146.0,https://realting.com/uploads/bigSlider/4ae/9d8...,https://realting.com/property-for-sale/turkey/...
147534,"Apartment in Akarca, Turkey",Turkey,"Akarca, Central Anatolia Region, Turkey",2023.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,819163.0,https://realting.com/uploads/bigSlider/164/7e6...,https://realting.com/property-for-sale/turkey/...
147535,"4 room apartment 140 m² in, Turkey",Turkey,Turkey,NaN,2.0,NaN,5.0,4.0,NaN,140 m²,NaN,939164.0,https://realting.com/uploads/bigSlider/fab/0eb...,https://realting.com/property-for-sale/turkey/...

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  object
 1   country                     147406 non-null  object
 2   location                    147405 non-null  object
 3   building_construction_year  64719 non-null   float64
 4   building_total_floors       68224 non-null   float64
 5   apartment_floor             54592 non-null   float64
 6   apartment_rooms             74178 non-null   float64
 7   apartment_bedrooms          36982 non-null   float64
 8   apartment_bathrooms         55973 non-null   float64
 9   apartment_total_area        141796 non-null  object
 10  apartment_living_area       27712 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  object
 13  url                         147536 non-null  object
dtypes: float64(7), object(7)
memory usage: 15.8+ MB

In [79]:
del data["image"] #удаление ненужных столбцов
del data["url"] #удаление ненужных столбцов

In [80]:
del data["apartment_living_area"] #слишком мало значений

In [81]:
data1 = data.dropna(subset=['country','location','price_in_USD', 'apartment_total_area'])
 # удаление пропусков по столбцам с наименьшим количесвом пропусков

In [82]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140126 entries, 0 to 147535
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       140126 non-null  object
 1   country                     140126 non-null  object
 2   location                    140126 non-null  object
 3   building_construction_year  62222 non-null   float64
 4   building_total_floors       66655 non-null   float64
 5   apartment_floor             53643 non-null   float64
 6   apartment_rooms             72634 non-null   float64
 7   apartment_bedrooms          35156 non-null   float64
 8   apartment_bathrooms         54472 non-null   float64
 9   apartment_total_area        140126 non-null  object
 10  price_in_USD                140126 non-null  float64
dtypes: float64(7), object(4)
memory usage: 12.8+ MB

In [ ]:
data1['apartment_total_area'] = data1['apartment_total_area'].str.extract('(\d+)', expand=True).astype(int)
# таким образом удалям m2 из столбца с площадью помещения и преобразуем его в числовой формат

In [84]:
data1

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD
0,2 room apartment 120 m² in Mediterranean Regio...,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,3.0,2.0,2.0,120,315209.0
1,"4 room villa 500 m² in Kalkan, Turkey",Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,NaN,NaN,NaN,500,1108667.0
2,"1 room apartment 65 m² in Antalya, Turkey",Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,2.0,1.0,1.0,65,173211.0
5,"1 room apartment 28 m² in Batumi, Georgia",Georgia,"Abkhazia, Batumi, Georgia",2026.0,NaN,NaN,1.0,NaN,1.0,28,35622.0
6,"4 room apartment 245 m² in Yesiloez, Turkey",Turkey,"Yesiloez, Mediterranean Region, Alanya, Turkey",2007.0,2.0,3.0,5.0,4.0,4.0,245,274415.0
...,...,...,...,...,...,...,...,...,...,...,...
147529,"3 room apartment 106 m² in Yaylali, Turkey",Turkey,"Yaylali, Mediterranean Region, Alanya, Turkey",2023.0,NaN,NaN,3.0,NaN,1.0,106,510856.0
147530,3 room apartment 168 m² in Bahcelievler Mahall...,Turkey,"Bahcelievler Mahallesi, Marmara Region, Turkey",NaN,NaN,NaN,NaN,3.0,NaN,168,614848.0
147531,"5 room apartment 310 m² in Gazipasa, Turkey",Turkey,"Mediterranean Region, Gazipasa, Turkey",NaN,NaN,NaN,NaN,5.0,NaN,310,597810.0
147532,"4 room apartment 192 m² in Marmara Region, Turkey",Turkey,"Marmara Region, Turkey",2023.0,5.0,NaN,5.0,4.0,2.0,192,637195.0
147535,"4 room apartment 140 m² in, Turkey",Turkey,Turkey,NaN,2.0,NaN,5.0,4.0,NaN,140,939164.0

In [85]:
data1.describe() #работа с выбросами

,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD
count,62222.000000,66655.000000,53643.000000,72634.000000,35156.000000,54472.000000,140126.000000,1.401260e+05
mean,1996.319003,8.597525,5.787931,2.569995,2.306093,1.359028,126.011511,4.019648e+05
std,160.176653,8.318215,5.523481,1.296229,18.743860,0.742516,117.501552,8.175746e+05
min,1.000000,-1.000000,-2.000000,-1.000000,-1.000000,1.000000,1.000000,0.000000e+00
25%,2003.000000,2.000000,2.000000,2.000000,1.000000,1.000000,56.000000,1.041075e+05
50%,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,87.000000,1.870680e+05
75%,2024.000000,14.000000,8.000000,3.000000,3.000000,2.000000,150.000000,3.912940e+05
max,2316.000000,124.000000,202.000000,124.000000,2009.000000,43.000000,998.000000,3.060283e+07

In [86]:
data1["building_construction_year"].value_counts()

2023.0    8541
2025.0    8424
2024.0    5731
2026.0    4465
2022.0    3531
          ...
1856.0       1
1877.0       1
1882.0       1
1853.0       1
202.0        1
Name: building_construction_year, Length: 224, dtype: int64

In [87]:
data1.loc[data1['building_construction_year'] >2030]
#год постройки дома, много значений 2024-2030, видимо, предполагаемый год сдачи, а 2316 тут явные ошибки

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD
42033,"House 2 bathrooms 140 m² in Toekoel, Hungary",Hungary,"Toekoel, Central Hungary, Szigetszentmiklosi j...",2316.0,2.0,NaN,NaN,NaN,NaN,140,136092.0

In [ ]:
data1.drop(42033, axis=0, inplace=True)

In [89]:
data1.loc[data1['apartment_floor'] > 100] #этаж квартиры, тут явные ошибки

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD
27729,"Penthouse 3 bedrooms 105 m² in Tivat, Montenegro",Montenegro,"Tivat, Tivat Municipality, Montenegro",2022.0,3.0,105.0,NaN,3.0,2.0,105,400451.0
132761,"1 room apartment 517 m² in Dubai, UAE",UAE,"Dubai, UAE",NaN,2.0,202.0,4.0,1.0,2.0,517,168983.0

In [ ]:
data1.drop(27729, axis=0, inplace=True)
data1.drop(132761, axis=0, inplace=True)

In [91]:
data1.loc[data1['apartment_rooms'] > 30] #количество комнат больше 100 ошибка

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD
106273,3 room apartment 134 m² in Guardamar del Segur...,Spain,"Guardamar del Segura, Valencian Community, el ...",NaN,4.0,2.0,41.0,3.0,2.0,134,339067.0
114898,"9 room apartment 161 m² in Zagreb, Croatia",Croatia,"Zagreb, Croatia",NaN,NaN,NaN,35.0,NaN,1.0,161,499987.0
116090,"9 room apartment 4 661 m² in Riga, Latvia",Latvia,"Vidzeme, Riga, Latvia",NaN,7.0,NaN,124.0,NaN,NaN,4,3260785.0
116643,"9 room apartment 130 m² in Zagreb, Croatia",Croatia,"Zagreb, Croatia",NaN,NaN,NaN,35.0,NaN,1.0,130,361947.0
117768,"2 room apartment 57 m² in Tbilisi, Georgia",Georgia,"Abkhazia, Tbilisi, Georgia",NaN,3.0,1.0,57.0,2.0,2.0,57,110000.0
142333,"9 room apartment 90 m² in Terni, Italy",Italy,"Umbria, Terni, Italy",NaN,NaN,NaN,50.0,NaN,NaN,90,108693.0
142556,"9 room apartment 100 m² in Terni, Italy",Italy,"Umbria, Terni, Italy",NaN,NaN,NaN,55.0,NaN,NaN,100,135866.0

In [ ]:
data1.drop(116090, axis=0, inplace=True)
data1.drop(117768, axis=0, inplace=True)
data1.drop(142556, axis=0, inplace=True)
data1.drop(106273, axis=0, inplace=True)
data1.drop(114898, axis=0, inplace=True)
data1.drop(116643, axis=0, inplace=True)
data1.drop(142333, axis=0, inplace=True)

In [93]:
data1.loc[data1['apartment_bedrooms'] > 30] #количество спален больше 100 ошибка

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD
4350,9 room apartment 440 m² in Bahcelievler Mahall...,Turkey,"Bahcelievler Mahallesi, Marmara Region, Turkey",NaN,NaN,NaN,NaN,55.0,NaN,440,2512417.0
4487,9 room apartment 242 m² in Bahcelievler Mahall...,Turkey,"Bahcelievler Mahallesi, Marmara Region, Turkey",NaN,NaN,NaN,NaN,45.0,NaN,242,4021634.0
4639,9 room apartment 226 m² in Bahcelievler Mahall...,Turkey,"Bahcelievler Mahallesi, Marmara Region, Turkey",NaN,NaN,NaN,NaN,35.0,NaN,226,2698843.0
9033,9 room apartment 166 m² in Bahcelievler Mahall...,Turkey,"Bahcelievler Mahallesi, Marmara Region, Turkey",NaN,NaN,NaN,NaN,35.0,NaN,166,1205403.0
20854,"9 room apartment 88 m² in Montenegro, Montenegro",Montenegro,Montenegro,NaN,NaN,NaN,NaN,500.0,NaN,88,217386.0
28866,"9 room apartment 90 m² in Greece, Greece",Greece,Greece,NaN,NaN,NaN,NaN,2009.0,3.0,90,270645.0
31870,"9 room apartment 120 m² in Greece, Greece",Greece,Greece,NaN,NaN,NaN,NaN,2004.0,3.0,120,184778.0
95192,"9 room apartment 2 000 m² in Alicante, Spain",Spain,"Valencian Community, Alicante, Provincia de Al...",NaN,NaN,3.0,NaN,43.0,43.0,2,2403423.0
109841,9 room apartment 2 400 m² in Castell-Platja d ...,Spain,"Castell-Platja d Aro, Catalonia, Lower Empordà...",NaN,NaN,NaN,NaN,70.0,NaN,2,4458589.0
138180,9 room apartment 1 300 m² in Castell-Platja d ...,Spain,"Castell-Platja d Aro, Catalonia, Lower Empordà...",NaN,NaN,NaN,NaN,41.0,2.0,1,1882515.0
144030,"9 room apartment 95 m² in Greece, Greece",Greece,Greece,NaN,NaN,NaN,NaN,2006.0,2.0,95,273240.0

In [ ]:
data1.drop(20854, axis=0, inplace=True)
data1.drop(28866, axis=0, inplace=True)
data1.drop(31870, axis=0, inplace=True)
data1.drop(144030, axis=0, inplace=True)
data1.drop(4350, axis=0, inplace=True)
data1.drop(4487, axis=0, inplace=True)
data1.drop(4639, axis=0, inplace=True)
data1.drop(9033, axis=0, inplace=True)
data1.drop(109841, axis=0, inplace=True)
data1.drop(138180, axis=0, inplace=True)

In [95]:
data1.loc[data1['apartment_bathrooms'] > 40] #количество ванных комнат больше 100 ошибка

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD
95192,"9 room apartment 2 000 m² in Alicante, Spain",Spain,"Valencian Community, Alicante, Provincia de Al...",NaN,NaN,3.0,NaN,43.0,43.0,2,2403423.0

In [ ]:
data1.drop(95192, axis=0, inplace=True)

In [104]:
data1.loc[data1['apartment_total_area'] <= 1] #сомнительные значения площадей помещений

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD
1122,"2 room apartment 1 000 m² in Konyaalti, Turkey",Turkey,"Konyaalti, Mediterranean Region, Antalya, Turkey",2022.0,NaN,NaN,3.0,2.0,NaN,1,203240.0
2712,"2 room apartment 1 200 m² in Alanya, Turkey",Turkey,"Mediterranean Region, Sekerhane Mahallesi, Ala...",NaN,2.0,2.0,2.0,NaN,NaN,1,179282.0
4304,6 room apartment 1 424 m² in Bahcelievler Maha...,Turkey,"Bahcelievler Mahallesi, Marmara Region, Turkey",NaN,NaN,NaN,NaN,6.0,NaN,1,1867060.0
4544,7 room apartment 1 128 m² in Bahcelievler Maha...,Turkey,"Bahcelievler Mahallesi, Marmara Region, Turkey",NaN,NaN,NaN,NaN,7.0,NaN,1,5209647.0
4611,6 room apartment 1 000 m² in Bahcelievler Maha...,Turkey,"Bahcelievler Mahallesi, Marmara Region, Turkey",NaN,NaN,NaN,NaN,6.0,NaN,1,8228046.0
...,...,...,...,...,...,...,...,...,...,...,...
147018,"6 room house 1 342 m² in Zagreb, Croatia",Croatia,"Zagreb, Croatia",1998.0,1.0,NaN,NaN,NaN,NaN,1,1521699.0
147095,"3 room villa 1 400 m² in Porec, Croatia",Croatia,"Porec, Grad Porec, Istria County, Croatia",2010.0,NaN,NaN,NaN,NaN,NaN,1,1098554.0
147161,"House 1 329 m² in Brezovec Zelinski, Croatia",Croatia,"Brezovec Zelinski, Zagreb County, Croatia",1994.0,2.0,NaN,NaN,NaN,NaN,1,758676.0
147226,"2 room villa 1 850 m² in Opcina Bale, Croatia",Croatia,"Opcina Bale, Istria County, Croatia",2021.0,NaN,NaN,NaN,NaN,NaN,1,586872.0
147320,Mansion 3 bedrooms 1 280 m² in Opcina Svetvinc...,Croatia,"Opcina Svetvincenat, Istria County, Croatia",2020.0,NaN,NaN,NaN,NaN,NaN,1,422664.0

In [122]:
data2 = data1.loc[data1['apartment_total_area'] > 1] #удаление сточек со значением площади помещений в 1 м2

In [123]:
data2.describe()

,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD
count,62087.000000,66496.000000,53598.000000,72547.000000,35097.000000,54387.000000,139501.000000,1.395010e+05
mean,1996.330037,8.605285,5.783350,2.563290,2.107958,1.354846,126.550885,3.866042e+05
std,160.316867,8.301200,5.430007,1.138907,1.039399,0.700521,117.464915,7.255447e+05
min,1.000000,-1.000000,-2.000000,-1.000000,-1.000000,1.000000,2.000000,0.000000e+00
25%,2003.000000,2.000000,2.000000,2.000000,1.000000,1.000000,57.000000,1.037520e+05
50%,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,87.000000,1.860560e+05
75%,2024.000000,14.000000,8.000000,3.000000,3.000000,2.000000,150.000000,3.859530e+05
max,2028.000000,124.000000,82.000000,25.000000,25.000000,27.000000,998.000000,3.060283e+07

In [124]:
data2.info() # итоговая таблица для анализа, по столбцам 3-8 слишком много пропущенных значений для удаления или замены

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139501 entries, 0 to 147535
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       139501 non-null  object
 1   country                     139501 non-null  object
 2   location                    139501 non-null  object
 3   building_construction_year  62087 non-null   float64
 4   building_total_floors       66496 non-null   float64
 5   apartment_floor             53598 non-null   float64
 6   apartment_rooms             72547 non-null   float64
 7   apartment_bedrooms          35097 non-null   float64
 8   apartment_bathrooms         54387 non-null   float64
 9   apartment_total_area        139501 non-null  int64
 10  price_in_USD                139501 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 12.8+ MB

In [130]:
data2.groupby("country")["apartment_total_area"].mean().sort_values() #средняя площадь помещений по странам

country
Serbia              54.461538
Russia              63.652794
Czech Republic      67.480000
Georgia             67.843606
Uzbekistan          72.347737
Thailand            82.470746
Belarus             82.647918
Northern Cyprus     87.413462
Cyprus              89.385714
Poland              92.807980
Armenia             94.645455
Finland             95.805519
Indonesia           96.030303
Austria            107.959184
Lithuania          108.061273
Hungary            114.462388
Australia          120.000000
Turkey             129.995988
UAE                164.085056
Montenegro         165.918606
Spain              167.540579
Latvia             171.588681
Croatia            178.615003
Portugal           182.222703
Greece             199.965544
Italy              236.042086
United States      250.436090
Name: apartment_total_area, dtype: float64

In [134]:
data2.groupby(["country", "apartment_rooms"])["price_in_USD"].mean().sort_values()
#группировка по странам, комнатам и средней цене на квартиры, с форматаом отображения цены я так и не понял, что делать

country    apartment_rooms
Lithuania  7.0                1.630400e+04
Russia     8.0                1.834000e+04
           9.0                4.087200e+04
Belarus    1.0                4.541022e+04
Georgia    1.0                5.063471e+04
                                  ...
UAE        5.0                4.455432e+06
           7.0                4.939156e+06
           6.0                5.548234e+06
           9.0                5.857812e+06
           8.0                1.140641e+07
Name: price_in_USD, Length: 223, dtype: float64